* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Tektur', monospace;
    background: #000;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 80px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 100px;
    }
}
